Data/GSE159624_RAW/GSM4835997_AML_donor3_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836001_AML_donor7_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836008_Healthy_donor6_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836002_AML_donor8_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836006_Healthy_donor4_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836007_Healthy_donor5_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836010_Healthy_donor8_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4835995_AML_donor1_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4835998_AML_donor4_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4835999_AML_donor5_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836009_Healthy_donor7_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/Crinier_etal_2020.pdf filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4835996_AML_donor2_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836000_AML_donor6_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836003_Healthy_donor1_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836004_Healthy_donor2_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/GSE159624_RAW/GSM4836005_Healthy_donor3_normalized.csv filter=lfs diff=lfs merge=lfs -text
Data/QLF_S.PosvsNeg.csv filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/Human_dataset_seurat_list.rds filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/Human_dataset_seurat_list_imputed.rds filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/Human_AML.rds filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/Human_AML_and_Healthy.rds filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/Human_AML_filt.rds filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/Human_Healthy.rds filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/Human_Healthy_filt.rds filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/DEG_markers.rds filter=lfs diff=lfs merge=lfs -text
Exported_RDS_files/DEG_markers_cluster_4.rds filter=lfs diff=lfs merge=lfs -text
output filter=lfs diff=lfs merge=lfs -text
output/QC/QC_AML/QC_RNA_percentMito.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/UMAP_AML/UMAP_seurat_clusters.pdf filter=lfs diff=lfs merge=lfs -text
output/figures filter=lfs diff=lfs merge=lfs -text
output/figures/CD160_sig_module_score filter=lfs diff=lfs merge=lfs -text
output/figures/Heatmaps_healthy/Custom_heatmap.pdf filter=lfs diff=lfs merge=lfs -text
output/tables filter=lfs diff=lfs merge=lfs -text
output/figures/CD160_sig_module_score/VlnPlot_Upregulated_signature.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/Heatmaps_healthy/TF_heatmap.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/VlnPlots/Imputed_NCAM1_healthy_dataset.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/CD160_sig_module_score/Heatmap_Upregulated_signature.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/PCA_AML filter=lfs diff=lfs merge=lfs -text
output/figures/PCA_Healthy filter=lfs diff=lfs merge=lfs -text
output/figures/VlnPlots/Imputed_IL7R_healthy_dataset.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/PCA_AML/PCA_dim2_vs_3.pdf filter=lfs diff=lfs merge=lfs -text
output/QC/QC_AML/QC_nFeature_nCount_RNA_percentMito.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/PCA_Healthy/PCA_dim2_vs_3.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/cell_cycle/Cellcycle_VlnPlot_G2Mscore.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/PCA_Healthy/PC_elbowplot.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/VlnPlots/Imputed_KLRB1_healthy_dataset.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/cell_cycle/Cellcycle_VlnPlot_Sscore.pdf filter=lfs diff=lfs merge=lfs -text
output/QC/QC_Healthy/QC_RNA_percentMito.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/Heatmaps_healthy/Top_20_DEGs.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/tSNE_Healthy/tSNE_orig_ident.pdf filter=lfs diff=lfs merge=lfs -text
output/QC/QC_Healthy/QC_nFeature_nCount_RNA_percentMito_Postfiltering.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/CD160_sig_module_score/VlnPlot_Downregulated_signature.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/GO_analysis/GO_BP.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/UMAP_Healthy/UMAP_named_clusters.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/GO_analysis filter=lfs diff=lfs merge=lfs -text
output/figures/VlnPlots/Imputed_FCGR3A_healthy_dataset.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/tSNE_AML/tSNE_seurat_clusters.pdf filter=lfs diff=lfs merge=lfs -text
output/QC/QC_Healthy/QC_nFeature_nCount_RNA_percentMito.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/UMAP_Healthy/UMAP_orig_ident.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/tSNE_AML filter=lfs diff=lfs merge=lfs -text
output/figures/VlnPlots/Imputed_LTB_healthy_dataset.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/tSNE_AML/tSNE_orig_ident.pdf filter=lfs diff=lfs merge=lfs -text
output/QC/QC_Healthy filter=lfs diff=lfs merge=lfs -text
output/figures/PCA_Healthy/PCA_dim1_vs_2.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/UMAP_AML/UMAP_orig_ident.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/VlnPlots filter=lfs diff=lfs merge=lfs -text
output/QC/QC_AML/QC_nFeature_nCount_RNA_percentMito_Postfiltering.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/tSNE_Healthy/tSNE_seurat_clusters.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/cell_cycle filter=lfs diff=lfs merge=lfs -text
output/tables/Human_AML_and_Healthy.csv filter=lfs diff=lfs merge=lfs -text
output/figures/Heatmaps_healthy/KIR_KLR_heatmap.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/PCA_AML/PCA_dim1_vs_2.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/UMAP_AML filter=lfs diff=lfs merge=lfs -text
output/figures/UMAP_Healthy/UMAP_seurat_clusters.pdf filter=lfs diff=lfs merge=lfs -text
output/QC filter=lfs diff=lfs merge=lfs -text
output/figures/GO_analysis/GO_CC.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/PCA_AML/PC_elbowplot.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/tSNE_Healthy filter=lfs diff=lfs merge=lfs -text
output/figures/CD160_sig_module_score/Heatmap_Downregulated_signature.pdf filter=lfs diff=lfs merge=lfs -text
output/figures/GO_analysis/GO_MF.pdf filter=lfs diff=lfs merge=lfs -text
output/QC/QC_AML filter=lfs diff=lfs merge=lfs -text
output/figures/Heatmaps_healthy filter=lfs diff=lfs merge=lfs -text
output/figures/UMAP_Healthy filter=lfs diff=lfs merge=lfs -text
